.row {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.row-reverse {
  justify-content: center;
  display: flex;
  flex-direction: row-reverse;
}

.column {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.column-reverse {
  justify-content: center;
  display: flex;
  flex-direction: column-reverse;
}
